/*通用样式*/
h1,h2,h3,h4,h5,h6,ul,li,ol,p,span,b,a{
	margin:0px;
	padding:0px;
	list-style:none;
	font-family:"微软雅黑";
	font-size:13px;
}
body{
	background-color:#ccc;
}
a{
	text-decoration:none;
	color:#000;
}
.lf{
	float:left;
}/**/
/*LOGO*/
#pop_1 ul{padding-top:10px;}
#pop_1 a{  
   font-size:14px;   
   text-decoration:none;
   color:#fff;
}
#pop_1 a:hover{
	color:#2a78b4;
}
.clear:after{
  content:"";
  display:block;
  clear:both;
}
/**********LOGO***********/
/*LOGO结束*/
/*顶部*/
.main_box{
	width:1136px;
	margin:0 auto;
}
.top_text{
	color:#fff;
	border:0;
	width:1089px;
	height:40px;
	line-height:60px;
	background-image:linear-gradient(to right,#222,#ccc);
	padding:0 0 20px 10px;
}
.top_text b{
	font-size:35px;
}
.top_text span{
	font-size:26px;
}

/*左边导航*/
.left_nav{
	width:185px;
	height:1839px;
	float:left;
	background-color:#222;
}
.left_ul span{
	display:inline-block;
	width:185px;
	height:39px;
	line-height:39px;
	/*background-image:linear-gradient(to right,#222 0,#666 50%,#222 100%);*/
	position:relative;
}
.left_ul span a{
	margin-left:10px;
	font-size:16px;
}
.left_ul>li>ul>li{
	height:20px;
	margin-top:10px;
	text-align:center;
}
.left_ul a{
	color:#FFF;
	font-size:14px;
}
.left_ul a:hover{
	color:#60b003;
}
/*下拉框*/
.left_ul i{
	display:inline-block;
	width: 16px;
	height: 16px;
	position:absolute;
	top:10px;
	left:150px;
}
.open{
	background:url("Images/minus.png");
}
.close{
	background:url("Images/add.png");
}
.off{
	display:none;
}
.on{
	display:block;
}/*左边导航结束*/
/*中间顶部文本*/
.center_text{
	background-color:#23252D;
	color:#fff;
	width:914px;
	height:39px;
	line-height:39px;
	float:left;
}
.center_text div{
	float:right;
	text-align:center;
}
.center_text div ul li{
	float:left;
	width:18px;
	height:17px;
	background-color:#fff;
	border-radius:3px;
	margin:10px 5px;

}
.center_text div ul li:last-child{
	width:36px;
	position:relative;
}
.center_text div ul li i{
	border:5px solid;
	border-top-color:#222;
	position:absolute;
	top:6px;
	left:23px;
}
.center_text div li a{
	display:block;
	width:16px;
	height:16px;
}
.center_text div li:first-child a{
	background:url(Images/new_share.png) no-repeat 0px 0px;
}
.center_text div li:nth-child(2) a{
	background:url(Images/new_share.png) no-repeat 0px -16px;
}
.center_text div li:nth-child(3) a{
	background:url(Images/new_share.png) no-repeat 0px -32px;
}
.center_text div li:nth-child(4) a{
	background:url(Images/new_share.png) no-repeat 0px -48px;
}

.center_text p{
	font-size:20px;
	padding-left:20px;
}	
div.main{
	float:left;
	width:913px;
}
.main_ul{
	border-left:2px	solid #806D3E;
	overflow:hidden;
	position:relative;
}
.main_ul>li:first-child{
	width:742px;
	background-color:#ededed;
	float:left;
	height:180px;
}
div.main .main_ul i.ten{
	left:5px;
}
/*************** nav ****************/
nav div.main ul:nth-child(1) li:first-child{
	background-image:linear-gradient(to bottom,#B39E59,#816737);
}
nav div.main ul:nth-child(2) li:first-child{
	background-image:linear-gradient(to bottom,#699064,#3E5A3C);
}
nav div.main ul:nth-child(3) li:first-child{
	background-image:linear-gradient(to bottom,#4C8193,#1B4A5E);
}
nav.main_box ul.main_ul div.main_text a:hover{color:#e4393c;}
.main_ul>li:first-child i{
	font-size:100px;
	color:#D5D5D5;
	position:absolute;
	top:15px;
	left:30px;
}
div.main_img{
	float:left;
	margin:10px 10px 0 130px;
	height:159px;
	position: relative;
	cursor:pointer;
}
div.main_text{
	width:432px;
	float:left;
}
div.main_text a:hover{
	color:#60b003;
}
.main ul:nth-child(1) li:first-child a, .main ul:nth-child(2) li:first-child a, .main ul:nth-child(3) li:first-child a{
	color:#fff;
}

div.main_text p{
	margin:10px 0px;
}
ul.main_ul>li.grade{
	float:left;
	background-image:linear-gradient(to bottom,#EBE5C5,#D8C9A6);
	width:169px;
	height:180px;
	text-align:center;
}
li.grade div{
	width:169px;
	padding:50px 0 10px 0;
	color:#F07200;
	position:relative;
}
li.grade div b{
	font-size:40px;
}
li.grade div sup{
	font-size:25px;
	position:absolute;
	top:45px;
	left:100px;
}
.foot_link{
	width:890px;
	margin:40px 50px;
	color:#69B8E9;
}
.foot_link a:first-child{
	background-color:#60b003;
}
.foot_link a{
	display:inline-block;
	border:1px solid #6D95AE;
	width:77px;
	height:38px;
	line-height:38px;
	text-align:center;
	color:#000;
}
.foot_link a:hover{
	background-color:#60b003;
}
/*页脚*/
#footer{
	min-height:100px;
	text-align:center;
}
#footer ul{
	margin:20px 420px;
	height:20px;
}
#footer ul li{
	float:left;
	margin-left:25px;
}
#footer ul li a{
	color:#000;
}
#footer a:hover{
	color:#60b003;
}
#footer p{
	margin-bottom:12px;
}

